@media (min-width: 992px) {
	.first-screen-slider {
		.slick-slide {
			padding: 0 92px;
			border-radius: 20px;
		}
		.container {
			padding-top: 163px;
			padding-bottom: 228px;
		}
	}

	.template-title {
		&.col-lg-7 {
			text-align: left;
			&::after {
				display: none;
			}
		}
	}
	.first-screen {
		.slick-dots {
			position: absolute;
			padding: 0;
			margin: 0;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 40px;
		}
	}

	// .template-title {
	// 	h2 {
	// 	}
	// }
}
