@media screen and (max-width: 991px) {
	.container {
		.template-title {
			margin-bottom: 36px;
			padding-top: 56px;
			h2 {
				font-size: 24px;
			}

			h3 {
				font-size: 16px;
			}
			&.col-lg-7 {
				margin-bottom: 56px;
				h2 {
					&::after {
						display: none;
					}
				}
			}
		}
	}

	.first-screen {
		margin-bottom: 56px;
		.slick-dots {
			position: absolute;
			padding: 0;
			margin: 0;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 40px;
		}
	}

	.first-screen-slider {
		.slick-slide {
			height: calc(100vh - 72px);
			display: flex;
			align-items: center;
			background-position: center;
			&::before {
				content: "";
				position: absolute;
				background: rgb(0 0 0 / 10%);
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 1;
			}
		}
		.container {
			padding-right: 20px;
			padding-left: 20px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 2;
			margin-bottom: 50px;
		}
	}

	.container-xxl {
		padding: 0;
	}

	.navbar-brand {
		width: 126px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	header {
		.navbar-collapse {
			.btn {
				padding: 22px 88px;
			}
		}
		.navbar {
			padding: 17px 15px;
		}
		.navbar-nav {
			padding: 49px 0 25px 0;
		}
	}
	.nav-link {
		font-size: 24px;
		line-height: 222%;
		padding: 0;
		margin-bottom: 11px;
	}

	.first-screen-title {
		font-size: 32px;
		margin-bottom: 10px;
		max-width: 285px;
	}

	.first-screen-subtitle {
		font-size: 16px;
		margin-bottom: 18px;
		max-width: 275px;
	}
	.calculation {
		.calculation-form {
			padding: 49px 30px 42px;
			margin-bottom: 60px;
			.has-checkbox {
				padding-top: 0;
			}
			.btn-arrow {
				width: 100%;
				.arrow {
					margin-left: auto;
				}
			}
		}
	}

	.decoration__img {
		display: none;
	}

	.calculation {
		.template-title {
			&::after {
				background-color: $color-secondary;
			}
		}
	}

	.calc-row {
		justify-content: center;
	}

	section.advantages {
		margin-bottom: 54px;
		&::before {
			border-radius: 0;
			width: 100%;
			left: 0px;
		}
		.template-title {
			h2 {
				font-size: 24px;
			}
		}
	}
	.delivery,
	.services {
		.template-slider {
			max-width: 360px;
			.slick-list {
				margin: 0 -15px 32px;
			}
		}
	}

	section.delivery {
		margin-bottom: 60px;
	}

	section.services {
		padding-bottom: 59px;
	}
	.card-button-row {
		.btn {
			width: 138px;
			padding: 13px 5px;
		}
	}
	section.services {
		&::before {
			border-radius: 0;
			width: 100%;
			left: 0px;
		}
	}
}
