@media screen and (max-width: 991px) {
	.container {
		padding: 0 20px;
		.template-title {
			margin-bottom: 36px;
			h2 {
				font-size: 24px;
			}

			h3 {
				font-size: 16px;
			}
			&.col-lg-7 {
				margin-bottom: 56px;
				h2 {
					&::after {
						display: none;
					}
				}
			}
		}
	}

	.first-screen {
		margin-bottom: 56px;
		.slick-dots {
			position: absolute;
			padding: 0;
			margin: 0;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 40px;
		}
	}

	.first-screen-slider {
		.slick-slide {
			height: calc(100vh - 72px);
			display: flex;
			align-items: center;
			background-position: center;
			&::before {
				content: "";
				position: absolute;
				background: rgb(0 0 0 / 10%);
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 1;
			}
		}
		.container {
			padding-right: 20px;
			padding-left: 20px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 2;
			margin-bottom: 50px;
		}
	}

	.container-xxl {
		padding: 0;
	}

	.navbar-brand {
		width: 126px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	header {
		.navbar-collapse {
			.btn {
				padding: 22px 88px;
			}
		}
		.navbar {
			padding: 17px 15px;
		}
		.navbar-nav {
			padding: 49px 0 25px 0;
		}
	}
	.nav-link {
		font-size: 24px;
		line-height: 222%;
		padding: 0;
		margin-bottom: 11px;
	}

	.first-screen-title {
		font-size: 32px;
		margin-bottom: 10px;
		max-width: 285px;
	}

	.first-screen-subtitle {
		font-size: 16px;
		margin-bottom: 18px;
		max-width: 275px;
	}
	.calculation {
		.calculation-form {
			padding: 49px 30px 42px;
			margin-bottom: 60px;
			.has-checkbox {
				padding-top: 0;
			}
			.btn-arrow {
				width: 100%;
				.arrow {
					margin-left: auto;
				}
			}
		}
	}

	.decoration__img {
		display: none;
	}

	.calculation {
		.template-title {
			&::after {
				background-color: $color-secondary;
			}
		}
	}

	.calc-row {
		justify-content: center;
	}

	section.advantages {
		margin-bottom: 54px;
		&::before {
			border-radius: 0;
			width: 100%;
			left: 0px;
		}
		.template-title {
			h2 {
				font-size: 24px;
			}
		}
	}
	.delivery,
	.services {
		.template-slider {
			max-width: 360px;
			.slick-list {
				margin: 0 -15px 32px;
			}
		}
	}

	section.delivery {
		margin-bottom: 60px;
	}

	section.services {
		padding-bottom: 59px;
		margin-bottom: 54px;
		&::before {
			border-radius: 0;
			width: 100%;
			left: 0px;
		}
	}
	.card-button-row {
		.btn {
			width: 138px;
			padding: 13px 5px;
		}
	}

	.about {
		.template-title {
			text-align: center;
			margin-bottom: 25px;
			&::after {
				background-color: #89c249;
			}
		}
		p {
			text-align: justify;
			font-size: 16px;
			font-weight: 300;
			line-height: 149.5%; /* 23.92px */
		}
		.about-description {
			margin-bottom: 40px;
		}
		.img-box {
			display: flex;
			justify-content: center;
		}
	}
	#questions {
		margin-bottom: 60px;
		.accordion-flush {
			margin-bottom: 28px;
			.accordion-body {
				padding-top: 0;
				p {
					padding-left: 0;
					font-size: 14px;
					font-weight: 300;
					line-height: 144.5%;
				}
			}
			.accordion-button {
				font-size: 16px;
				padding: 12px 20px 12px 22px;
			}
		}
		.questions-form {
			max-width: 335px;
			margin: 0 auto;
			text-align: center;
			padding: 38px 20px;
		}
	}

	section.cooperate {
		margin-bottom: 60px;
		padding: 54px 20px 60px;
		&::before {
			border-radius: 0;
			width: 100%;
			left: 0px;
		}
		.container {
			padding: 0;
		}
		.template-title {
			margin-bottom: 43px;
			h4 {
				font-size: 16px;
			}
		}
		.cooperate-description {
			.description {
				margin: 0 auto;
			}
			.second {
				margin-bottom: 29px;
			}
			li {
				font-size: 16px;
				font-weight: 400;
				line-height: 149.5%;
			}
		}
		.cooperate-image {
			margin-bottom: 36px;
		}
		.row {
			margin-bottom: 43px;
		}
		button {
			max-width: 335px;
			margin: 0 auto;
		}
	}

	.footer {
		.body-footer {
			justify-content: center;
			&__adress {
				text-align: center;
				img {
					margin-bottom: 28px;
				}
			}
		}

		.body-footer__menu {
			display: none;
		}
	}
}
