.advantages {
	border-radius: 20px;
	background: linear-gradient(0deg, #363a4d 0%, #363a4d 100%), #f7f7f7;

	// .row {  (з урока)
	// 	margin-bottom: -48px;
	// }
}

.advantage {
	text-align: center;
	margin-bottom: 48px;

	&__img-box {
		border: 1px solid #6c7188;
		border-radius: 50%;
		width: 113px;
		height: 113px;
		padding: 10px;
		margin: 0 auto 22px;
	}
	img {
		background: $color-secondary;
		width: 100%;
		height: auto;
		border-radius: 50%;
		object-fit: scale-down;
	}
	&__text-box {
		max-width: 160px;
		margin: 0 auto;
	}
}
