.calculation {
	padding-top: 97px;
}

.calculation-form {
	max-width: 626px;
	width: 100%;
	border-radius: 20px;
	background-color: #363a4d;
	padding: 50px 35px 42px;

	.btn-arrow {
		padding: 20px 20px;
	}
}

.calc-row {
	display: flex;
}

label[for="fileInput"] {
	cursor: pointer;
	border: 1px dashed #fff;
	width: 100%;
	padding: 12px;
	text-align: center;
	margin-bottom: 26px;
	border-radius: 10px;
	border: 1px dashed rgba(255, 255, 255, 0.26);
	&:hover {
		border: 1px dashed $color-secondary;
	}
}

.calculation {
	.container {
		position: relative;
	}
	&__img-box {
		position: absolute;
		bottom: -100px;
		right: -17px;
	}
}
