.calculation {
	.template-title {
		padding-top: 0;
	}
}

.calc-row {
	display: flex;
	align-items: stretch;
}

.calculation-form {
	max-width: 626px;
	width: 100%;
	border-radius: 20px;
	background-color: #363a4d;
	padding: 50px 35px 42px;
	margin-bottom: 113px;
	box-shadow: 5px 15px 40px rgba(11, 24, 97, 0.32);
	.btn-arrow {
		padding: 20px 20px;
		width: 253px;
	}
}

label[for="fileInput"] {
	cursor: pointer;
	width: 100%;
	padding: 12px;
	text-align: center;
	margin-bottom: 26px;
	border-radius: 10px;
	border: 1px dashed rgba(255, 255, 255, 0.26);
	&:hover {
		border: 1px dashed $color-secondary;
	}
}

.decoration__img {
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 35px;
	&-box {
		position: relative;
		flex-shrink: 2;
	}
}
