body {
	background: #282b38;
	color: #fff;
}

.container {
	max-width: 1164px;
}

.container-xxl {
	max-width: 1820px;
}

.btn {
	border: none;
	border-radius: 90px;
	background: $color-primary;
	color: #fff;
}

.btn-arrow {
	display: flex;
	border: none;
	border-radius: 90px;
	background: $color-primary;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 146%;
	padding: 20px 29px;
	.arrow {
		padding-left: 49px;
	}
	&:hover {
		background: $color-secondary;
		.arrow {
			filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg)
				brightness(180%) contrast(101%);
		}
	}
}

.btn:hover {
	background-color: $color-secondary;
}
