header {
	.navbar {
		padding-top: 25px;
		padding-bottom: 39px;
		.navbar-brand {
			padding: 0;
			margin-right: 0;
		}
		.navbar-nav {
			margin: 2px auto 0px;
			max-width: 615px;
			width: 100%;
			justify-content: space-between;
			.nav-link {
				color: #fff;
				&:hover {
					color: $color-secondary;
				}
			}
		}
	}

	.navbar-collapse {
		.btn {
			padding: 12px 26px;
		}
	}
}
