<section id="about" class="about">
	<div class="container">
		<div class="template-title">
			<h2>About company</h2>
		</div>
		<div class="row">
			<div class="about-description col-lg-6">
				<p>
					Asia Cargo company is a full range of logistics services for
					delivery of goods from China to Ukraine - consolidated cargo and solid cargo
					consignments, intermediary services TaoBao, CARGO China-
					<span>Ukraine</span>. For your convenience, there are tariffs for light and
					heavy cube We have been working in the market for more than 4 years, and company managers
					have been engaged in logistics for more than 11 years.
				</p>
				<p>
					We strive to provide the best delivery conditions and the best service
					to your clients. By choosing us, you choose quality delivery
					optimal in price and time! See for yourself!
				</p>
			</div>
			<div class="img-box col-lg-6">
				<img class="decoration-img" src="assets/img/About.png" alt="about-pic">
			</div>
		</div>
	</div>
</section>
