<section id="advantages" class="advantages container-fluid lining">
	<div class="template-title">
		<h2>Why choose us?</h2>
	</div>
	<div class="container">
		<div id="advantages-slider" class="row">
			<div class="col-lg-3">
				<div class="advantage-slide">
					<div class="advantage__img-box">
						<img src="assets/img/advantage-1.svg" alt="icon-advantage">
					</div>
					<h4 class="advantage__text-box">Customs clearance of cargo</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage-slide">
					<div class="advantage__img-box">
						<img src="assets/img/advantage-2.svg" alt="icon-advantage">
					</div>
					<h4 class="advantage__text-box">Cargo insurance</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage-slide">
					<div class="advantage__img-box">
						<img src="assets/img/advantage-3.svg" alt="icon-advantage">
					</div>
					<h4 class="advantage__text-box">Checking goods for defects</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage-slide">
					<div class="advantage__img-box">
						<img src="assets/img/advantage-4.svg" alt="icon-advantage">
					</div>
					<h4 class="advantage__text-box">Delivery to any city in Ukraine</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage-slide">
					<div class="advantage__img-box">
						<img src="assets/img/advantage-5.svg" alt="icon-advantage">
					</div>
					<h4 class="advantage__text-box">Consolidation in warehouse</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage-slide">
					<div class="advantage__img-box">
						<img src="assets/img/advantage-6.svg" alt="icon-advantage">
					</div>
					<h4 class="advantage__text-box">Responsible storage of cargo</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage-slide">
					<div class="advantage__img-box">
						<img src="assets/img/advantage-7.svg" alt="icon-advantage">
					</div>
					<h4 class="advantage__text-box">Help in paying for goods</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage-slide">
					<div class="advantage__img-box">
						<img src="assets/img/advantage-8.svg" alt="icon-advantage">
					</div>
					<h4 class="advantage__text-box">
						Packing, repacking, palletizing of cargo to international
						transportation
					</h4>
				</div>
			</div>
		</div>
	</div>
</section>
