<section id="calculation" class="calculation">
	<div class="container">
		<div class="template-title col-lg-7">
			<h2>Get a calculation of the cost of delivery of your cargo</h2>
		</div>
		<div class="calc-row">
			<form class="calculation-form col-lg-6">
				<div class="row">
					<div class="col-lg-6">
						<div class="input-box">
							<label for="fname">Product category:</label>
							<input type="text" name="calculation" id="fname" placeholder="Product category">
						</div>
						<div class="input-box">
							<label for="weight">Cargo weight (kg):</label>
							<input type="number" name="calculation" id="weight" min="1" max="10" placeholder="Cargo weight (kg):">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-box">
							<label for="price">Cargo cost:</label>
							<input type="text" name="calculation" id="price" placeholder="Cargo cost:">
						</div>
						<div class="input-box">
							<label for="volume">Cargo volume (m3):</label>
							<input type="number" name="calculation" id="volume" min="1" max="10" placeholder="Cargo volume (m3):">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="input-box">
							<div class="check-wrapper">
								<input type="checkbox" name="calculation" id="insurance" value="insurance">
								<label for="insurance">Insurance</label>
							</div>
						</div>
						<div class="input-box">
							<div class="check-wrapper">
								<input type="checkbox" name="calculation" id="customs-clearance" value="customs-clearance">
								<label for="customs-clearance">Customs clearance</label>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-box">
							<label for="invoice">HS Code:</label>
							<input type="number" name="calculation" id="invoice" placeholder="Write code">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="input-file">
							<div id="file-name"></div>
							<label for="fileInput">Upload product photo</label>
							<input type="file" id="fileInput" name="calculation">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<button type="button" class="btn-arrow">
							Next step
							<img src="assets/img/arrow-circle-left-1.svg" class="arrow" alt="arrow-circle-left">
						</button>
					</div>
				</div>
			</form>
			<div class="decoration__img-box col-lg-6">
				<img src="assets/img/man.png" class="decoration__img" alt="Decoration">
			</div>
		</div>
	</div>
</section>
