<section class="calculation">
	<div class="container">
		<div class="tamplate-title col-lg-7 text-left">
			<h2>Получить рассчет стоимости доставки вашего груза</h2>
		</div>
		<div class="wrapper">
		<form class="calculation-form">
			<div class="row">
			<div class="input-row col-lg-6">
				<div class="input-column">
					<div class="input-box">
						<label for="fname">Категория товара:</label>
						<input
							type="text"
							name="fname"
							id="fname"
							placeholder="Категория товара"
						/>
					</div>
					<div class="input-box">
						<label for="weight">Вес груза (кг):</label>
						<input
							type="number"
							name="weight"
							id="weight"
							min="1"
							max="10"
							placeholder="Вес груза (кг):"
						/>
					</div>
				</div>
			
			</div>
			<div class="input-row col-lg-6">
				<div class="input-column">
					<div class="input-box">
						<label for="price">Стоимость груза:</label>
						<input
							type="text"
							name="price"
							id="price"
							placeholder="Стоимость груза:"
						/>
					</div>
					<div class="input-box">
						<label for="volume">Объем груза (м3):</label>
						<input
							type="number"
							name="volume"
							id="volume"
							min="1"
							max="10"
							placeholder="Объем груза (м3):"
						/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-row col-lg-6">
				<div class="input-column">
					<div class="input-box">
						<div class="check-wrapper">
							<input
							type="checkbox"
							name="insurance"
							id="insurance"
							placeholder="Страховка"
							value="insurance"
						/>
						<label for="insurance">Страховка</label>
					</div>
						</div>
					<div class="input-box">
						<div class="check-wrapper">
						<input
							type="checkbox"
							name="customs-clearance"
							id="customs-clearance"
							placeholder="Таможенное оформление"
							value="customs-clearance"
						/>
						<label for="customs-clearance">Таможенное оформление</label>
					</div>
					</div>
				</div>
			</div>
			<div class="input-row col-lg-6">
				<div class="input-column">
					<div class="input-box">
						<label for="invoice">Код ТН ВЭД:</label>
						<input
							type="number"
							name="invoice"
							id="invoice"
							placeholder="Введите код"
						/>
					</div>
				</div>
		</form>
	</div>
	</div>
</section>
