<section id="cooperate" class="cooperate container-fluid lining">
	<div class="container">
		<div class="template-title">
			<h2>Ready to cooperate?</h2>
			<h4>Register your cargo!</h4>
		</div>

		<div class="row flex-wrap-reverse">
			<div class="cooperate-description col-lg-6">
				<ul class="description">
					<li>
						In order to start cooperation, you need to register the cargo
						indicating information about the contents of the cargo, its value and quantity. A
						also by attaching photographs to the application.
					</li>
					<li>
						If it is necessary to check the goods for compliance with the quantity, then when
						When registering the cargo on our website, please indicate this in the “Note” column.
						This service is paid and amounts to 3 yuan per item in the order.
						Any additional cargo checks are discussed individually, including
						including their cost.
					</li>
					<li>
						Before sending the goods to our warehouse in China, be sure to take care of
						to make a marking with your order number on our
						website, for each external box, so that we can determine exactly
						Your cargo. If you do not have the opportunity to do this yourself, then
						ask your supplier about this.
					</li>
				</ul>
			</div>
			<div class="cooperate-image col-lg-6">
				<img src="assets/img/cooperate-img-1.png" class="cooperate-img img-fluid" alt="coop-img">
			</div>
		</div>
		<div class="row">
			<div class="cooperate-image col-lg-6">
				<img src="assets/img/cooperate-img-2.png" class="cooperate-img img-fluid" alt="coop-img">
			</div>
			<div class="cooperate-description col-lg-6">
				<ul class="description second">
					<li>
						After sending the cargo to our warehouse in China, you must
						indicate the track number for tracking parcels in China for each
						items in the order. You can enter the tracking number on the order page.
						Track number is another measure to identify your cargo on
						our warehouse.
					</li>
					<li>
						If you have registered the cargo according to our instructions and done everything correctly,
						then upon receipt of your cargo at a warehouse in China, the order status
						will change to "In stock".
					</li>
				</ul>
				<button type="button" class="btn-arrow">
					Register cargo
					<img src="assets/img/arrow-circle-left-1.svg" class="arrow" alt="arrow-circle-left">
				</button>
			</div>
		</div>
	</div>
</section>
