<section id="delivery" class="delivery">
	<div class="container">
		<div class="template-title">
			<h2>Варианты доставки грузов из Китая</h2>
		</div>
		<div class="template-slider">
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-1.png"
							class="img-fluid"
							alt="delivery logo"
						/>
					</div>
					<h4 class="card-title">Авто - обычная</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/calendar.svg" alt="calendar" />9-15 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/box.svg" alt="box" />от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><strong>2,5</strong><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button class="btn">Оставить заявку</button>
						<button class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>

			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-2.png"
							class="img-fluid"
							alt="delivery logo"
						/>
					</div>
					<h4 class="card-title">Авто - ускоренная</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/calendar.svg" alt="calendar" />9-15 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/box.svg" alt="box" />от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><strong>2,5</strong><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button class="btn">Оставить заявку</button>
						<button class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-3.png"
							class="img-fluid"
							alt="delivery logo"
						/>
					</div>
					<h4 class="card-title">Авиа</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/calendar.svg" alt="calendar" />9-15 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/box.svg" alt="box" />от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><strong>2,5</strong><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button class="btn">Оставить заявку</button>
						<button class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-4.png"
							class="img-fluid"
							alt="delivery logo"
						/>
					</div>
					<h4 class="card-title">Ж/д</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/calendar.svg" alt="calendar" />9-15 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/box.svg" alt="box" />от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><strong>2,5</strong><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button class="btn">Оставить заявку</button>
						<button class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-5.png"
							class="img-fluid"
							alt="delivery logo"
						/>
					</div>
					<h4 class="card-title">Море</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/calendar.svg" alt="calendar" />9-15 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/box.svg" alt="box" />от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><strong>2,5</strong><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button class="btn">Оставить заявку</button>
						<button class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
