<section class="first-screen">
	<div class="container-xxl">
		<div class="first-screen-slider">
			<div style="background-image: url(assets/img/first-slide.png)">
				<div class="container">
					<div class="first-screen-title">Прямое КАРГО из Китая</div>
					<div class="first-screen-subtitle">
						Доставляем любые грузы из Китая по честной цене
					</div>
					<button type="button" class="btn-arrow">
						Рассчитать стоимость
						<img
							src="assets/img/arrow-circle-left 1.svg"
							class="arrow"
							alt="arrow-circle-left"
						/>
					</button>
				</div>
			</div>
			<div style="background-image: url(assets/img/second-slide.png)">
				<div class="container">
					<div class="first-screen-title">Выкуп товара с ТаоБао, 1688</div>
					<div class="first-screen-subtitle">
						Выкуп и доставка товаров с китайских торговых площадок.
					</div>
					<button type="button" class="btn-arrow">
						Рассчитать стоимость
						<img
							src="assets/img/arrow-circle-left 1.svg"
							class="arrow"
							alt="arrow-circle-left"
						/>
					</button>
				</div>
			</div>
			<div style="background-image: url(assets/img/third-slide.png)">
				<div class="container">
					<div class="first-screen-title">Экспресс авто доставка</div>
					<div class="first-screen-subtitle"></div>
					<button type="button" class="btn-arrow">
						Рассчитать стоимость
						<img
							src="assets/img/arrow-circle-left 1.svg"
							class="arrow"
							alt="arrow-circle-left"
						/>
					</button>
				</div>
			</div>
			<div style="background-image: url(assets/img/fourth-slide.png)">
				<div class="container">
					<div class="first-screen-title">Гарантируем сроки!</div>
					<div class="first-screen-subtitle">
						Если мы не уложимся в обозначенные сроки, доставка груза со скидкой
						до 90%
					</div>
					<button type="button" class="btn-arrow">
						Рассчитать стоимость
						<img
							src="assets/img/arrow-circle-left 1.svg"
							class="arrow"
							alt="arrow-circle-left"
						/>
					</button>
				</div>
			</div>
		</div>
		<div class="first-screen-nav"></div>
	</div>
</section>
