<section class="first-screen">
	<div class="container-xxl">
		<div class="first-screen-slider">
			<div style="background-image: url(assets/img/first-slide.png)">
				<div class="container">
					<div class="first-screen-title">Direct CARGO from China</div>
					<div class="first-screen-subtitle">
						We deliver any cargo from China at a fair price
					</div>
					<button type="button" class="btn-arrow">
						Calculate the cost
						<img src="assets/img/arrow-circle-left-1.svg" class="arrow" alt="arrow-circle-left" >
					</button>
				</div>
			</div>
			<div style="background-image: url(assets/img/second-slide.png)">
				<div class="container">
					<div class="first-screen-title">Redemption of goods from TaoBao, 1688</div>
					<div class="first-screen-subtitle">
						Purchase and delivery of goods from Chinese trading platforms.
					</div>
					<button type="button" class="btn-arrow">
						Calculate the cost
						<img src="assets/img/arrow-circle-left-1.svg" class="arrow" alt="arrow-circle-left">
					</button>
				</div>
			</div>
			<div style="background-image: url(assets/img/third-slide.png)">
				<div class="container">
					<div class="first-screen-title">Express auto delivery</div>
					<div class="first-screen-subtitle"></div>
					<button type="button" class="btn-arrow">
						Calculate the cost
						<img src="assets/img/arrow-circle-left-1.svg" class="arrow" alt="arrow-circle-left">
					</button>
				</div>
			</div>
			<div style="background-image: url(assets/img/fourth-slide.png)">
				<div class="container">
					<div class="first-screen-title">We guarantee deadlines!</div>
					<div class="first-screen-subtitle">
						If we do not meet the specified deadlines, cargo delivery will be discounted
						up to 90%
					</div>
					<button type="button" class="btn-arrow">
						Calculate the cost
						<img src="assets/img/arrow-circle-left-1.svg" class="arrow" alt="arrow-circle-left">
					</button>
				</div>
			</div>
		</div>
		<div class="first-screen-nav"></div>
	</div>
</section>
