<footer id="footer" class="footer">
	<div class="container">
		<div class="footer-decoration"></div>
		<div class="footer__body body-footer">
			<div class="body-footer__adress">
				<div class="body-footer__column">
					<a href="#" class="body-footer__logo">
						<img src="assets/img/logo.svg" alt="Footer Logo">
					</a>
					<ul class="body-footer__contacts contacts-footer">
						<li class="contacts-footer__item">
							<a href="tel">8(800)600-18-69</a>
						</li>
						<li class="contacts-footer__item">
							<a href="mailto:info@cargoasia.info">info@cargoasia.info</a>
						</li>
						<li class="contacts-footer__item">
							<a href="#" class="contacts-footer__link contacts-footer__link_location">Address in China:
								浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</a>
						</li>
					</ul>
					<div class="body-footer__media media-footer">
						<a href="#" class="media-footer__item">
							<img src="assets/img/footer-instagram.png" alt="Footer Instagram Logo">
						</a>
						<a href="#" class="media-footer__item">
							<img src="assets/img/footer-telegram.png" alt="Footer Telegram Logo">
						</a>
					</div>
				</div>
			</div>
			<div class="body-footer__menu">
				<div class="body-footer__column">
					<nav class="menu-footer">
						<div class="menu-footer__column">
							<div class="menu-footer__title">Freight transportation</div>
								<ul class="menu-footer__list">
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Prices and terms
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Services
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											About company
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Contacts
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Register the cargo
										</a>
									</li>
								</ul>
						</div>
					</nav>
				</div>
				<div class="body-footer__column">
					<nav class="menu-footer">
						<div class="menu-footer__column">
							<div class="menu-footer__title">Services</div>
								<ul class="menu-footer__list">
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Redemption of goods
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Cargo insurance
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Warehouse rent
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Money transfer
										</a>
									</li>
								</ul>
						</div>
					</nav>
				</div>
				<div class="body-footer__column">
					<nav class="menu-footer">
						<div class="menu-footer__column">
							<div class="menu-footer__title">Information</div>
								<ul class="menu-footer__list">
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Reviews
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Cargo requirements
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Contract offer
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											How to conclude an agreement
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Payment methods for services
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Documents
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Articles
										</a>
									</li>
								</ul>
						</div>
					</nav>
				</div>
			</div>

		</div>
	</div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/fancybox.umd.js"></script>
<script src="assets/js/slick.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>