<footer id="footer" class="footer">
	<div class="container">
		<div class="footer-decoration"></div>
		<div class="footer__body body-footer">
			<div class="body-footer__adress">
				<div class="body-footer__column">
					<a href="#" class="body-footer__logo">
						<img src="assets/img/logo.svg" alt="Footer Logo">
					</a>
					<ul class="body-footer__contacts contacts-footer">
						<li class="contacts-footer__item">
							<a href="tel">8(800)600-18-69</a>
						</li>
						<li class="contacts-footer__item">
							<a href="mailto:info@cargoasia.info">info@cargoasia.info</a>
						</li>
						<li class="contacts-footer__item">
							<a href="#" class="contacts-footer__link contacts-footer__link_location">Адрес в Китае:
								浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</a>
						</li>
					</ul>
					<div class="body-footer__media media-footer">
						<a href="#" class="media-footer__item">
							<img src="assets/img/footer/footer-instagram.png" alt="Footer Instagram Logo">
						</a>
						<a href="#" class="media-footer__item">
							<img src="assets/img/footer/footer-telegram.png" alt="Footer Telegram Logo">
						</a>
					</div>
				</div>
			</div>
			<div class="body-footer__menu">
				<div class="body-footer__column">
					<nav class="menu-footer">
						<div class="menu-footer__column">
							<div class="menu-footer__title">Грузоперевозки</div>
								<ul class="menu-footer__list">
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Цены и сроки
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Услуги
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											О компании
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Контакты
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Оформить груз
										</a>
									</li>
								</ul>
						</div>
					</nav>
				</div>
				<div class="body-footer__column">
					<nav class="menu-footer">
						<div class="menu-footer__column">
							<div class="menu-footer__title">Услуги</div>
								<ul class="menu-footer__list">
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Выкуп товара
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Страховка груза
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Аренда склада
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Перевод денежных средств
										</a>
									</li>
								</ul>
						</div>
					</nav>
				</div>
				<div class="body-footer__column">
					<nav class="menu-footer">
						<div class="menu-footer__column">
							<div class="menu-footer__title">Информация</div>
								<ul class="menu-footer__list">
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Отзывы
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Требования к грузу
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Договор-оферта
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Как заключить договор
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Способы оплаты услуг
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Документы
										</a>
									</li>
									<li class="menu-footer__item">
										<a href="#" class="menu-footer__link">
											Статьи
										</a>
									</li>
								</ul>
						</div>
					</nav>
				</div>
			</div>

		</div>
	</div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/fancybox.umd.js"></script>
<script src="assets/js/slick.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>