<section id="services" class="services container-fluid lining">
	<div class="container">
		<div class="template-title">
			<h2>Services</h2>
		</div>
		<div class="template-slider">
			<div>
				<div class="card">
					<div class="card-img">
						<img src="assets/img/services-1.png" class="img-fluid" alt="delivery logo">
					</div>
					<h4 class="card-title">Redemption of goods</h4>
					<div class="card-description">
						The company is a full range of logistics delivery services
						argo from China to Ukraine - consolidated cargo and whole consignments,
						ntermediary services TaoBao, CARGO China-Ukraine.
					</div>
					<div class="card-button-row">
						<button class="btn btn-secondary">More details</button>
					</div>
				</div>
			</div>

			<div>
				<div class="card">
					<div class="card-img">
						<img src="assets/img/services-2.png" class="img-fluid" alt="delivery logo">
					</div>
					<h4 class="card-title">Cargo insurance</h4>
					<div class="card-description">
						The company is a full range of logistics delivery services
						argo from China to Ukraine - consolidated cargo and whole consignments,
						ntermediary services TaoBao, CARGO China-Ukraine.
					</div>
					<div class="card-button-row">
						<button class="btn btn-secondary">More details</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img src="assets/img/services-3.png" class="img-fluid" alt="delivery logo">
					</div>
					<h4 class="card-title">Warehouse rent</h4>
					<div class="card-description">
						The company is a full range of logistics delivery services
						argo from China to Ukraine - consolidated cargo and whole consignments,
						ntermediary services TaoBao, CARGO China-Ukraine.
					</div>
					<div class="card-button-row">
						<button class="btn btn-secondary">More details</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img src="assets/img/services-4.png" class="img-fluid" alt="delivery logo">
					</div>
					<h4 class="card-title">Railway</h4>
					<div class="card-description">
						The company is a full range of logistics delivery services
						argo from China to Ukraine - consolidated cargo and whole consignments,
						ntermediary services TaoBao, CARGO China-Ukraine.
					</div>
					<div class="card-button-row">
						<button class="btn btn-secondary">More details</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
